$sparkle-show-docs: false !default;
$settings: map-merge(
  $settings,
  (
    'prefix': 'util',
    'loop-mq': true,
    'print-classes': true,
    'system-color': true,
    'system-color-states': false,
    'system-grid': true,
    'system-spacing': true,
    'system-font-family': true,
    'system-font-size': true,
    'system-font-weight': true,
    'utility-margin': true,
    'utility-padding': true,
    'utility-position-spacing': true,
    'utility-background-color': true,
    'utility-border-color': false,
    'utility-border-style': true,
    'utility-border-width': false,
    'utility-border-position': false,
    'utility-foreground-color': false,
    'utility-outline-color': false,
    'utility-text-decoration-color': false,
    'utility-z-index': true,
    'utility-display': true,
    'utility-position': true,
    'utility-text-align': false,
    'utility-text-decoration': false,
    'utility-text-transform': false,
    'utility-visually-hidden': true,
    'utility-justify-content': false,
    'utility-align-items': false,
    'utility-align-self': false,
    'utility-order': false,
    'utility-flex-direction': false,
    'utility-flex-grow': false,
    'utility-flex-shrink': false,
    'utility-flex-wrap': false
  )
);
